.HeaderFiltro {

   
    position: sticky;
    top: 0;
    padding: 1rem;
    background: var(--color-white2);
    border-bottom: 1px solid var(--color-snow-white);
    z-index: 10;
    display: flex;
    gap: 1rem;

    .calendar {
        margin-right: auto;
    }

    @media (max-width:575px) {
        display: flex;
        flex-direction: column;
    }
}