.List {
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    svg {
        width:1rem;
        fill: var( --color-black);
        height: 1.5rem;
    }
    .contenido{
        grid-column: 1/-1;
    }
    &.inactive{
        .contenido{
            display: none;
        }
    }
}