@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --color-black: #080808;
    --color-white: #fff9f9;
    --color-christmas-silver:#e0e0e0;
    --color-carbon:#333333;
    --color-dark-grey:#545454;
    --color-royal-lavender: #7446af;
    --color-sonic-silver:#757575;
    --color-snow-white: #e0e0e0;
    --color-piquant-pink:#f2f2f2;
    --color-white2:#ffffff;
    --color-shea:#faf1ed;
}