.InputSearch {
    border: 2px solid var(--color-snow-white);
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    margin-right:  auto;
    .input {

        font-family: 'Poppins', Arial, sans-serif;
        padding: 0.6rem 0;
        font-size: 1rem;
        font-weight: 400;
        border: 0;
        background: transparent;
        &:focus {
            outline: none;
        }
    }

    &:has( .input:focus){
        background-color: var(--color-snow-white);
    }
}